@import 'reset.scss';
@import 'header.scss';
@import 'testimonials.scss';
@import 'flats.scss';
@import 'form.scss';
@import 'video.scss';
@import 'map.scss';
@import 'questions.scss';
@import 'footer.scss';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap');

/* font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
body {
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	&._lock {
		overflow: hidden;
	}
}
